@charset "utf-8";

html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.clock-texts {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 19vmin;
}

.clock-times { 
    display: flex;
    justify-content: center;
}